* {
    font-family: "Lexend Deca";
}



body.form-background {
    background-color: rgb(229, 245, 250);
    font-family: "Lexend Deca";
}

a.dropdown-item {
    font-size: 90%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}

a.dropdown-item {
    font-family: "Lexend Deca";
    font-size: 90%;
}
a.nav-link {
    font-size: 92%;
}

.rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}