.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.container-overlay {
    position: relative;
}
.container-overlay img {
    width: 100%;
    height: auto;
}

.main-img-brightness {
    filter: brightness(30%);
    
}

.hero-wrapper {
    overflow: hidden;
    top: 0;
    width: 100%;

    /* Dynamically adjusts the wrapper height between 760 to 870px based on the viewport */
    height: clamp(760px, 125vh, 870px);

    z-index: 0;
    box-shadow: 0 3px 10px #411f3878;
    
}

#deca-logo-brightness {
    filter: brightness(130%);
}

#logo-size {
    width: 7.5%;
    height: 7.5%;
}

.margin-navbar {
    margin-right: 50px;
}

a.nav-link {
    font-family: "Lexend Deca";
    font-size: 90%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}

.underline {
    position: relative;
    cursor: pointer;
}

.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


a.dropdown-item {
    font-family: "Lexend Deca";
    font-size: 90%;
}

.img-banner {
    /* Makes the image fit the wrapper */
    object-fit: cover;

    /* Position the image */
    position: absolute;
    top: 0;

    width: 100%;
    height: 891px;

    z-index: -1;
    padding-bottom: 100px;

    filter: brightness(30%);

}

.red {
    color:darkred
}

.white {
    color: #fff
}

.text-overlay {

    /* Position the text */
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);

    /* Using position relative, keep the image in normal document flow, but the image remain centers. */
    position: relative;

    font-size: 75px;
    font-weight: 800;
    font-family: "Lexend Deca";
    line-height: 50px;
    z-index: 2;

    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 25px;
    padding-top: 59px;
    max-width: 1000px;

    margin: auto;
}

.hero-container{
    position:relative;
    overflow-y:hidden;
    top:0;width:100%;
    height:clamp(790px,125vh,870px);
    box-shadow:0 3px 10px #411f3878;
    z-index:0
}

.hero-button {
    position: relative;
    top: 26%;
    left: 29%;
    font-size: 35px;
    font-weight: 550;
    color: #fff;
    background-color: darkred;
    z-index:3;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: auto;
}

.hero-button:hover {
    color: darkred;
    background-color: white;
    transition: 0.5s;
}


@media only screen and (min-width: 768px) {

    .text-overlay {
        font-size: 75px;
        line-height: 75px;
      }
      .hero-button {
        top: 30%;
        left: 31%;
    }

    .images-circle {
        border-radius: 30%;
    }

    
    .wrapper-section2 img {
        width: 70%;
        padding:30px 110px;
    }

    .img-banner {
        padding-bottom: 50px;
    }

    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .wrapper h2 {
        padding: 20px 0px 0px;
        font-size: 50px;
    }

    .wrapper p {
        padding: 20px 0px 0px;
        font-size: 24px;
    }

    .wrapper img{
        padding-top: 30px;

    }

    .CTA-overlay {
        top: 50%;
        left: 53%;
        font-size: 70px;
    }
    
    .CTA-button {
        top: 55%;
        left: 40%;
        font-size: 50px;
    }
}

@media only screen and (min-width: 1000px) {

    .text-overlay {
        font-size: 100px;
        line-height: 147px;
      }

    
    .wrapper-section2 img {
        width: 25%;
        float: left;
        padding:30px 50px;
        left: 50%;
        padding-left: 15%;
    }

    .hero-button {
        top: 25%;
        left: 36%;
    }

    .wrapper {
        width: 1000px;
    }

    .img-info {
        width:50%;
        float: right;
    }

    .images-circle {
        border-radius: 100%;
    }

    .wrapper img {
        padding-top: 0px;
        width: 50%;
        float:left;
    }

    .wrapper h2 {
        padding: 20px 0px 0px 30px;
        font-size: 40px;
    }

    .wrapper p {
        padding: 20px 0px 0px 30px;
        font-size: 20px;
    }

    .CTA-overlay {
        top: 50%;
        left: 56%;
        font-size: 90px;
    }
    
    .CTA-button {
        top: 60%;
        left: 40%;

    }
}

@media only screen and (min-width: 1440px) {

    .hero-button {
        top: 40%;
        left: 45%;
    }

    .CTA-overlay {
        top: 50%;
        left: 43%;
        font-size: 110px;
    }
    
    .CTA-button {
        top: 60%;
        left: 44%;
        font-size: 50px;

    }
}

@media only screen and (min-width: 1330px) {

    .hero-button {
        top: 25%;
        left: 40%;
    }

    .wrapper-section2 img {
        float: left;
        width: 20%;
        padding: 80px 33px;
        border-radius: 100%;
    }

    .wrapper-section2 h1 {
        text-align: center;
    }

    .CTA-overlay {
        top: 50%;
        left: 46%;
        font-size: 110px;
    }
    
    .CTA-button {
        top: 60%;
        left: 42%;
        font-size: 50px;

    }
}

